// ***************************************************************
// widget main style
// ***************************************************************

// ***************************************************************
// widget kategóriák
// ***************************************************************
h2.widget-title{
   text-align: center;
}

div.menu-sidebar-evszak-container{
   ul#menu-sidebar-evszak.menu{
      li{
         display: block;
         a{
            font-family: 'Amatic SC', cursive;
            font-size: 30px;
            font-weight: bold;
            text-align: center;
            color: $main-text;
         }
         a:hover{
            color: $text-highlight;
         }
      }
      li.current-menu-item{
         a{
            color: $text-highlight;
         }
      }
   }
}

div.menu-sidebar-nemek-container{
   ul#menu-sidebar-nemek.menu{
      li{
         display: block;
         a{
            font-family: 'Amatic SC', cursive;
            font-size: 30px;
            font-weight: bold;
            text-align: center;
            color: $main-text;
         }
         a:hover{
            color: $text-highlight;
         }
      }
      li.current-menu-item{
         a{
            color: $text-highlight;
         }
      }
   }
}
